<h1>play scrabble </h1>
<form action="/score">
  <div class="form-group">
    <label for="score">Enter the letter</label>
    <input type="text" name="score" id="score" placeholder="enter your letter" class="form-control">
  </div>
  <div class="form-group">
    <button type="submit" class="btn-primary">check value</button>
  </div>
</form>
